html, body {
  margin: 0;
  font-family: Palatino, URW Palladio L, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightmodecolour);
  --darkmodecolour: rgb(30, 26, 31);
  --lightmodecolour: rgb(247, 247, 247);
  --purple: rgb(9, 40, 211);
  --pink: rgb(189, 38, 181);
  --redish: rgb(206, 14, 62);
  --text: rgb(221, 221, 221);
  --color-text: #111;
  --color-number: #999;
  --color-bg: rgb(226, 226, 226);
  --color-link: #1352d1;
  --color-link-hover: rgb(61, 19, 44);
  --font: Palatino, URW Palladio L, serif;
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(20, 4, 46);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
hr{
  width: 50%;
}
.Home{
  background:-webkit-linear-gradient(45deg,
  rgb(14, 6, 31), rgb(23, 23, 36), rgb(38, 15, 56))no-repeat  fixed;
}





