html, body {
  margin: 0;
  /* font-family: 'Alegreya Sans SC'; */
  font-family: Palatino serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249,218,196);
  --darkmodecolour: rgb(30, 26, 31);
  --lightmodecolour: rgb(255, 242, 224);
  --purple: rgb(9, 40, 211);
  --pink: rgb(189, 38, 181);
  --redish: rgb(206, 14, 62);
  --text: rgb(221, 221, 221);
  --color-text: #111;
  --color-number: #999;
  --color-bg: rgb(226, 226, 226);
  --color-link: #1352d1;
  --color-link-hover: rgb(61, 19, 44);
  --green: rgb(2, 110, 2);
  --neonBlue: rgb(0, 91, 175);
  /* --font: Palatino, URW Palladio L, serif; */

  }
  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 50px;
}
/* hr{
   width: 50%;
} */
.iconImg{
  width: 50px;
  height: 50px;
}
.Home{
  background: radial-gradient(rgb(249,218,196),rgb(249,218,196));
}
.button{
  padding: 5px 10px;
  border: 0;
}
.errorPage{
  background:rgb(32,47,51);
  display: block;
  max-width: 500px;
  margin: auto;
}



