@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,400&family=Elsie+Swash+Caps&family=Fredericka+the+Great&family=Raleway:wght@100&display=swap');

html, body {
  --backgroundcolour: rgb(249,218,196);
  --backgroundimage: url("https://res.cloudinary.com/andromeda-inn/image/upload/v1639585961/images/beige-paper_hgnhff.png");
  --darkmodecolour: rgb(30, 26, 31);
  --lightmodecolour: rgb(240,234,218);
  --lightmodecolour2: rgb(233,227,209);
  --lightmodetext2: rgb(179, 165, 139);
  --lightmodetext1: rgb(100, 100, 100);
  --lightmodetext: rgb(59, 45, 31);
  --orange: rgb(193,130,54);
  --purple: rgb(9, 40, 211);
  --pink: rgb(189, 38, 181);
  --redish: rgb(206, 14, 62);
  --text: rgb(221, 221, 221);
  --color-text: #111;
  --color-number: #999;
  --color-bg: rgb(226, 226, 226);
  --color-link: #1352d1;
  --color-link-hover: rgb(61, 19, 44);
  --green: rgb(2, 110, 2);
  --neonBlue: #03aaec;;
  --darkgreen: #202f33;
  --darkgreenlight: rgba(31, 46, 50, 0.5);
  --blue: rgb(0, 183, 255);
  --red: rgb(126, 26, 26);
  margin: 0;
  scroll-behavior: smooth;
  transition: all 1s ease;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Elsie Swash Caps', cursive; */
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: var(--backgroundimage); */
  /* background-color: rgb(249,218,196); */
  /* --font: Palatino, URW Palladio L, serif; */

  }
  a,
  a:focus,
  a:active{
    text-decoration: none;
    outline: none;
  }

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 50px;
}
/* hr{
   width: 50%;
} */
input, textarea {
  font-family: 'Cormorant Garamond', serif;
}
.iconImg{
  width: 50px;
  height: 50px;
}
.Home{
  background-image: var(--backgroundimage);
  background-color: var(--backgroundcolour)

}
.button{
  padding: 5px 10px;
  border: 0;
}
.buttonGreen{
  background: var(--darkgreen);
  color: var(--lightmodetext1);
  border:  solid 1px var(--lightmodetext1);
  display: block;
  margin-left: auto;
}
.buttonDefault{
  background: var(--lightmodecolour2);
  color: var(--lightmodetext1);
  border:  solid 1px var(--lightmodetext2);
  display: block;
}
.buttonGreen:hover, .buttonDefault:hover{
  background: rgba(255, 255, 255, 0.5);
}

.errorPage{
  background:rgb(32,47,51);
  width: 100%;
  height: 100vh;

}
.errorPageContainer{
  display: block;
  max-width: 500px;
  margin: auto;
}
.center{
  text-align: center;
}

.textEffect{
    background-image: -webkit-linear-gradient(40deg, var(--pink), var(--neonBlue), var(--green));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 250%;
    animation: text-animation 5s infinite alternate;
    text-align: center;
}
.container{
  max-width: 1600px;
  margin: 0 auto;
}
.swiperClass{
  max-width: 1400px;
  height: 430px;
}
.firstLetter::first-letter{
  font-size: 150%;
}
.rtl{
  direction: rtl;
}
.shadow:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.scale:hover{
  transform: scale(1.01);
}
.close {
  color: #aaa;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: var(--lightmodetext2);
  text-decoration: none;
  cursor: pointer;
}
.icon{
  height: 50px;
  width: 50px;
}
.flex{display:flex; gap: 50px;}
.flex >*{
  flex: 1 1 500px;
}
.wrap{flex-wrap: wrap;}
.flex-no-gap{display:flex;}
.chatInput{
  position: relative;
  resize: vertical;
  width: 99%;
  padding: 10px 5px;
  margin-top: 5px;
  border: 1px solid var(--lightmodetext2);
  background: rgba(255, 255, 255, 0.05);
  bottom: 0;
}
.chatInput:focus, .chatInput:active{
  border: none;
}
.cards {
  display: flex;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;
}

.cards__item {
  /* There will be 4 cards per row */
  flex-basis: 25%;

  padding-left: 8px;
  padding-right: 8px;
}
.input{
  width: 98%;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 10px 0 10px 2% ;
  background: transparent;
  color: var(--lightmodecolour);
  border: 0.5px solid var(--lightmodetext1);
}
.textarea{
  width: 98%;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 10px 0 10px 2% ;
  background: transparent;
  color: var(--lightmodecolour);
  border: 0.5px solid var(--lightmodetext1);
  resize:vertical;
}
.right{
  text-align: right;
  margin: 0;
}
.blue{
  color: var(--neonBlue);
}
.project-Component-icon{
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  /* opacity: 85%; */
  z-index: 10;
}
.projectComponentPosition{
  font-weight: bolder;
  text-align: left;
  text-decoration: underline;
}
.component-setting-icon{
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
}
.component-setting-icon:hover{
  transform: scale(1.15);
}
.send-icon{
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
}
.rel{
  position: relative;
}
.floating{
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: min(50px);
}
@keyframes floating{
  from{transform: translate(0, 0px);}
  65%{transform: translate(0, 15px);}
  to{transform: translate(0, -0px);}
}