.aboutAndro{
    background-color: rgb(247, 247, 247);
}
.aboutFrame{
    margin-top: 0;
    background-image: url(./../../images/2k_stars_milky_way.jpg);
    background-attachment: fixed;
    min-height: 50vh;
    font-family: inherit;
    padding-bottom: 2%;
}
.title1{
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}

.title1 h1{
    padding-top: 150px;
    margin-top: 0px;
    vertical-align: middle;
    font-size: clamp(60px, 80px, 8vw);
    font-weight:300;
    color: var(--text);
}

.wHub{
    letter-spacing: 3px;
    font-size: 20px;
    margin-top: -30px;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.wHub:hover::after{
    content: "with some extra spice→";
    background-image: -webkit-linear-gradient(40deg,
    rgb(189, 38, 181), rgb(206, 14, 62), rgb(9, 40, 211));
    background-clip: text;
    color: transparent;
}
.flex_items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px 5%;
}
/*selects direct children*/
.flex_items > *{
    flex: 1 1 400px;
    min-height: 300px;
    border-radius: 10px;
    margin: 25px;
}
.col{
    box-sizing: border-box;
    background:linear-gradient(to bottom,
    rgb(0, 0, 0), rgb(14, 6, 31));
}
.col h2{
    font-size: 35px;
}
.col:hover h2{
    background-image: -webkit-linear-gradient(40deg,
    rgb(189, 38, 181), rgb(206, 14, 62), rgb(9, 40, 211));
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: 1s ease-in-out;
    border-bottom: solid white 1px;
    padding-bottom: 5px;
    margin: 0 min(15%) 0 min(15%);
}
.col:hover .cardImg{
    width: 60px;
    height: 60px;
    transition: all 1s ease-in-out;
}
.cardText{
    padding: 30px;
    color:white;
    font-size: 1.5em;
}
.cardImg{
    height: 30px;
    width: 30px;
}
.problemStatement{
    min-height: 150vh;
    margin-top: -100px;
    border-top-left-radius: 60% min(100px);
    border-top-right-radius: 60% min(100px);
    background-color: rgb(247, 247, 247);
    width:100%;
}
.problemContainer{
    padding: 100px 50px 0 50px;

}
.hCh1{
    text-align: center;
    padding: 0;
    font-size: clamp(50px, 65px, 8vw);
    /* text-orientation: upright;
    writing-mode: vertical-rl;
    text-transform: uppercase; */
    background-image: url(./../../images/2k_stars_milky_way.jpg);
    background-attachment: fixed;
    background-clip: text;
    color:transparent;
    letter-spacing: 3px;
}
.problemContainer p{
    padding-top: 10px;
}
.appleIcon{
    width: 100px;
    height: 100px;
    display: block;
    margin: -50px auto 10px auto;
}
.quote{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1%;
}
.quote p{
    font-size: clamp(16px, 35px, 40px);
    margin: 50px 5%;
}
.aboutText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 800px;
    grid-column-gap: 2%;
    grid-row-gap: 40px;
    font-size: 25px;
    margin: 50px 5%;
    text-align: justify;
}
.aboutText .aboutT1{
    grid-column: 1;
    grid-row: 1;
}
.aboutText .aboutT2{
    grid-column: 2;
    grid-row: 1;
}
.aboutText .aboutT3{
    grid-column: 1 / 3;
    grid-row: 2;
    background-image: url('../../images/yannick-pulver-hopX_jpVtRM-unsplash.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1450px){
    .aboutText{
        grid-row-gap: 120px;
    }
}
@media only screen and (max-width: 1200px){
    .aboutText{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 400px;
        grid-row-gap: 50px;
        text-align: center;
    }
    .aboutText .aboutT1{ grid-column: 1; grid-row: 1}
    .aboutText .aboutT2{ grid-column: 1; grid-row: 2}
    .aboutText .aboutT3{ grid-column: 1; grid-row: 3}
}
@media only screen and (max-width: 1020px){
    .aboutText{grid-row-gap: 70px;}
}
@media only screen and (max-width: 860px){
    .aboutText{grid-row-gap: 100px;}
}
@media only screen and (max-width: 750px){
    .aboutText{grid-row-gap: 120px;}
}
@media only screen and (max-width: 720px){
    .aboutText{grid-row-gap: 150px;}
}
@media only screen and (max-width: 660px){
    .aboutText{ grid-row-gap: 180px;}
}
@media only screen and (max-width: 620px){
    .aboutText{grid-row-gap: 210px;}
    .aboutFrame{height: 60vh}
}
@media only screen and (max-width: 590px){
    .aboutText{grid-row-gap: 250px;}
}
@media only screen and (max-width: 555px){
    .aboutText{grid-row-gap: 300px;}
}
@media only screen and (max-width: 510px){
    .aboutText{grid-template-rows: 500px 500px 500px; grid-row-gap: 200px;}
    .flex_items {margin: 50px 0;}
}
@media only screen and (max-width: 420px){
    .aboutText{grid-template-rows: 500px 500px 500px; grid-row-gap: 250px;}
    .aboutFrame{height: 70vh}
}

