.aboutFrame{
    margin-top: 0;
    background-image: url(./../../images/2k_stars_milky_way.jpg);
    min-height: 40vh;
    font-family: inherit;
    margin-bottom: 100px;
}
.title1{
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.title1 h1{
    padding-top: 150px;
    margin-top: 0px;
    vertical-align: middle;
    font-size: clamp(20px, 70px, 8vw);
    font-weight:300;
}
.wHub{
    letter-spacing: 3px;
    font-size: 20px;
    margin-top: -30px;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.wHub:hover::after{
    content: "with some extra spice→";
    background-image: -webkit-linear-gradient(40deg,
    rgb(189, 38, 181), rgb(206, 14, 62), rgb(9, 40, 211));
    background-clip: text;
    color: transparent;
}
.flex_items {
    display: flex;
    flex-wrap: wrap;
    background-image: url(./../../images/2k_stars_milky_way.jpg);
    text-align: center;
}
/*selects direct children*/
.flex_items > *{
    flex: 1 1 300px;
    min-height: 300px;
    border-radius: 10px;
    margin: 25px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.col{
    box-sizing: border-box;
    background:linear-gradient(to bottom,
    rgb(14, 6, 31), rgba(38, 15, 56, 0.288));
}
.col h2{
    font-size: 30px;
}
.col:hover h2{
    background-image: -webkit-linear-gradient(40deg,
    rgb(189, 38, 181), rgb(206, 14, 62), rgb(9, 40, 211));
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: 1s ease-in-out;
    border-bottom: solid white 1px;
    padding-bottom: 5px;
    margin: 0 min(15%) 0 min(15%);
}
.col:hover .cardImg{
    width: 60px;
    height: 60px;
    transition: all 1s ease-in-out;
}
.cardText{
    padding: 30px;
    color:white;
    font-size: 1.2em;
}

.cardImg{
    height: 30px;
    width: 30px;
}