.dashboard{
    margin-top:0;
    height: 100vh;
    background-color: rgb(30, 28, 36);
}

.topbar{
    top:0;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgb(45, 45, 56);
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 8px;
}
.topbarContainer{
    display: flex;
    height: 50px;
}
.topbarContainer >*{
    margin-right: 10px;
}
.topbarContainer div:nth-last-child(2) {margin-left: auto;}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 50px;
    z-index: 1;
    background-color: rgb(45, 45, 56);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 8px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    left: 0;
}
.topUser{
    align-self: center;
    color: rgb(231, 231, 231);
}
.profileIcon{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.sidebar:hover{
    width: 150px;
    transition-delay: .5s;
}
.sidebarContainer{
    margin-top: 75px;
}
.sidebarContainer > *{
    margin-left: auto;
    right: 0;
}
.sidebarIcon{
    margin-bottom: 50px;
}
.dashboardContainer{
    background-color: rgb(30, 28, 36);
    height: 100vh;
}
