.dashboard{
    margin-top:0;
    height: 100vh;
    background-color: rgb(30, 30, 30);
}

.dashboardContainer{

}
.sidebar{
    position: fixed;
    height: 100vh;
    width: 50px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    right: 0;
}
.sidebar:hover{
    width: 150px;
    transition-delay: .5s;
}
.sidebarContainer{
    margin-top: 30px;
}
.sidebarContainer > *{
    margin-left: auto;
    right: 0;
}
.sidebarIcon{
    margin-bottom: 50px;
}

