.navbar {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  background: transparent;
  color: #fff;
  /*text-transform: uppercase;*/
  position: fixed;
  z-index: 2;
  min-width: 100%;
  min-height: 70px;
  transition: all .5s ease;
  background:linear-gradient(to bottom, rgb(14, 6, 31), rgba(38, 15, 56, 0.288));

}
.navbar-toggled {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* .navbar:hover{
  transition: all .5s ease;
  background:linear-gradient(to bottom, rgb(14, 6, 31), rgba(0, 0, 0, 0));
} */


ul{
display: flex;
justify-content: center;
list-style-type: none;
padding: 20px 0 0 0;
border-bottom: solid;
border-width: 1px;
margin: 0 min(20%) 0 min(20%);
}

.nav-item{
padding: 0px 20px 0px 20px;
letter-spacing: 2px;
}

.logout:hover{
  color:red;
}

.nav-link{
text-decoration: none;
color:white;
}

.navbar a:hover, .navbar a:active {
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 5px;
  /* letter-spacing: 5px; */
  /*font-weight: bold;*/
  transition: all 400ms ease-in-out;
}
