  .landing{
    margin: 0;
    /* background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0)),
    url(../../../images/Johannes-Plenio-1080.jpg); */
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position-x: center;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* border-bottom-left-radius:50% min(150px);
    border-bottom-right-radius:50% min(150px); */
    min-height: 60vh;
  }
  .landing-text{
    text-align: center;
    color: var(--text);
  }
  .landing-text h1{
    font-size: clamp(20px, 70px, 10vw);
    font-weight:300;
    color: var(--text);
  }

  span{
    background-image: -webkit-linear-gradient(40deg, var(--pink), var(--redish), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 250%;
    animation: text-animation 5s infinite alternate;
  }
  @keyframes text-animation{

    0% {background-position: left;}
    100%{background-position: right;}
  }

  .landing-text p{
    padding-top: min(20px);
    font-size: clamp(20px, 24px, 5vw);
  }

  .landing-frame{
    padding: min(120px) min(50px) min(50px) min(50px) ;
    align-items: center;
    font-family: var(--font);
  }

  a {
      text-decoration: none;
      color: var(--color-link);
      outline: none;
  }

  a:hover {
      color: var(--color-link-hover);
      outline: none;
  }
  .buttonContainer{
    /* margin-top: 75px; */
    margin: 0 auto;
  }
  .button {
      pointer-events: auto;
      cursor: pointer;
      background: transparent;
      border: none;
      /* margin: min(10px) min(10px) auto min(10px); */
      font-family: inherit;
      font-size: inherit;
      position: relative;
      display: inline-flex;
      align-items: center;
      align-self: center;
      justify-content: center;
  }

  .button::before,
  .button::after {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 150px;
      height: 100%;
  }
  .button--dione {
      background: none;
      font-family: inherit;
      font-weight: bolder;
      font-size: 25px;
      /*font-style: italic;*/
      padding: .75rem 3rem .75rem 2rem;
  }

  .button--dione span {
      display: inline-block;
      position: relative;
      color: transparent;
  }

  .button--dione::before {
      content: '';
      background: var(--color-bg);
      transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
      border-radius: 5px;
  }

  .button--dione:hover::before {
      transform: scale3d(0.9, 0.8, 1);
  }

  .button--dione::after {
      content: '';
      border: 1px solid var(--color-bg);
      transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
      transform: scale3d(0.85, 0.65, 1);
      border-radius: 5px;
  }

  .button--dione:hover::after {
      transform: scale3d(1,1,1);
  }
  .floating{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: min(50px);
    color: var(--redish)
  }
  @keyframes floating{
    from{transform: translate(0, 0px);}
    65%{transform: translate(0, 15px);}
    to{transform: translate(0, -0px);}
  }
  .arrow{
    margin-top: -20px;
  }
  @media only screen and (max-width: 400px) {
    .landing{
    border-bottom-left-radius:50% min(80px);
    border-bottom-right-radius:50% min(80px);
    }
  }
  .iconImg{
    width: 50px;
    height: 50px;
    /* transform: rotate(135deg) */
  }
/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;

}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background:-webkit-linear-gradient(45deg,
  rgb(14, 6, 31), rgb(23, 23, 36), rgb(38, 15, 56))no-repeat  fixed;
  color: transparent;
  background-size: 250%;
  animation: text-animation 5s infinite alternate;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}