.homePage{
  min-height: 500px;
  // background: radial-gradient(rgb(255, 242, 224),rgb(255, 248, 240));
  background: linear-gradient(115deg, rgb(32,47,51) 55%, transparent 55%);
  z-index: 50;
  // padding-bottom: 100px;
}

.imageContainer{
  display:block;
  margin:auto;
  background: url(https://res.cloudinary.com/andromeda-inn/image/upload/v1636984601/images/portal-g0acf30396_1920_ga3r45.jpg);
  background-repeat: no-repeat;
  background-size: 100% center;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
  box-shadow: rgb(3, 116, 116) 0px 50px 50px -20px;
  border: solid rgb(114, 114, 114) .5px;
  border-radius:50%;
  transition: all 2s ease-in-out;
  animation-name: circle;
  animation-duration: 6s;
  // animation-fill-mode: forwards;
}
@keyframes circle{
  0% {border-radius: 100px;}
  25% {border-radius:50%}
  50% {border-radius:0}
}
.imageContainer:hover{
  border-radius: 0%;
  background-position-x: -685px;
  background-position-y: -450px;
}
.homeContainer{
  padding: 0 50px 0 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.homeContainer >*:nth-child(1), .homeContainer>*:nth-child(3){
  flex: 1 1 200px;
  min-width: 350px;

}
.homeContainer >*:nth-child(2){
  flex: 1 1 500px;
  max-height: 500px;
  margin: 10px 5%;
}
.homeItemRight{
  display: flex;
  flex-wrap: wrap;
}
.homeItemRight > *{
  flex: 1 1 100%;
  font-size: 16px;
}
.homeSubItem{
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
}
.homeSubItem > *{
  flex: 1 1 150px;
  min-width: 250px;
}
.hold{
  width: 150px;
  height: 150px;
}

.home-text{
  text-align: right;
  color: rgb(180, 161, 152);
  h1{
    font-family: 'Elsie Swash Caps', cursive;
    font-size: clamp(20px, 60px, 8vw);
    font-weight:300;
    margin: 0;
    // color: var(--text);
  }
  span{
    background-image: -webkit-linear-gradient(40deg, var(--pink), var(--neonBlue), var(--green));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 250%;
    animation: text-animation 5s infinite alternate;
  }
  p{
    font-size: clamp(16px, 20px, 5vw);
  }
}
@keyframes text-animation{
  0% {background-position: left;}
  100%{background-position: right;}
}
.see-more-text{
  position: absolute;
  bottom: 165px;
  text-align: center;
  margin: auto;
  left: 0; right: 0;
  font-size: 16px;
  font-weight: bolder;
  max-width: 120px;
  cursor: pointer;
  & a,
  a:active{
    color: var(--neonBlue)
  }
}
.see-more{
  width: 100%;
  height: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  & > * {
    flex: 1 1 50%;
  }
  .see-more-right{
    border-left: solid 1px var(--darkgreen);
  }
  .see-more-left{
    border-right: solid 1px var(--darkgreen);
  }
}
.content__item {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

}
.button--surtur {
  display: block;
  margin: 0 auto;
	padding: 0;
	background: none;
	-webkit-clip-path: circle(40% at 50% 50%);
	clip-path: circle(40% at 50% 50%);
	cursor:pointer;
}

.button--surtur:focus-visible {
	background: #443ffc;
}

.textcircle {
	position: relative;
	display: block;
	width: 150px;
}

.textcircle text {
	font-size: 32px;
	text-transform: uppercase;
	fill: #000;
}

.textcircle textPath {
	letter-spacing: 17px; /* Firefox needs this */
  font-weight: bolder;
  font-size: 1.2em;
}

// .button--surtur:hover .textcircle {
// 	animation: rotateIt 7s linear infinite;
// }
.button--surtur .textcircle{
	animation: rotateIt 7s linear infinite;
}
.eye {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
}

.eye__outer,
.eye__inner,
.eye__lashes-up,
.eye__lashes-down {
	stroke: rgb(0, 183, 255);
	fill: none;
	stroke-width: 1.5px;
}
.eye__inner,
.eye__lashes-up,
.eye__iris{
	opacity: 0;
}
.eye__lashes-down {
	opacity: 1;
}

.button--surtur:hover .eye__lashes-up,
.button--surtur:hover .eye__inner,
.button--surtur:hover .eye__iris {
	opacity: 1;
}

.button--surtur:hover .eye__lashes-down {
	opacity: 0;
}

// @keyframes blinkHide {
// 	0% {opacity: 0;}
// 	10% {opacity: 1;}
// }

// @keyframes blinkShow {
// 	0% {opacity: 1;}
// 	10% {opacity: 0;}
// }
@keyframes rotateIt {
  to {
	transform: rotate(360deg);
  }
}
