.homePage{
    min-height: 200vh;
    background: radial-gradient(rgb(255, 242, 224),rgb(255, 248, 240));
}
.imageContainer{
    margin: 150px auto;
    border: solid black 0.5px;
    border-radius: 200px;
    background: url(https://res.cloudinary.com/andromeda-inn/image/upload/v1633888417/images/Johannes-Plenio-1080_xl7ke3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 350px;
    min-height: 500px;
}
.homeContainer{
    display: flex;
    flex-wrap: wrap;
}
.homeContainer >*:nth-child(1), .homeContainer>*:nth-child(3){
    flex: 1 1 200px;
}
.homeContainer >*:nth-child(2){
    flex: 1 1 600px;
}
