.landingPosts{
    min-height: 100vh;
}
.landingKey{
    align-items: center;
    text-align: center;
}
.landingPostsContainer{
    max-width:1600px;
    display: block;
    padding: 0 5%;
    margin: 100px auto;
    color: white;
}
.landingPostsContainer > h1{
    font-size: 1.8rem;
    letter-spacing: 2px;
}
.landingPostsContainer > h1:hover{
    letter-spacing: 5px;
    transition: 2s ease-in-out;
}
.postMap{
    display:flex;
    flex-wrap: wrap;
}
.postMap > *{
    flex: 1 1 400px;
    min-height: 450px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}