.postItem{
    max-width: 460px;
    background: rgb(61,58,75);
}
.postCard{
    color: var(--text);
    max-width: 450px;
}
.postTitle{
    font-size: 1.4em;
}
.postImg{
    min-height: 200px;
    width: 460px;
}
.postMap{
    display:flex;
    flex-wrap: wrap;
}
.postMap > *{
    flex: 1 1 550px;
    min-height: 450px;
    border: solid 1px rgb(197, 186, 175);
    border-radius: 5px;
    margin: 20px auto;
}
.postTitle{
    text-align: center;
    position: relative;
}

.smallPostImageContainer{
    display: flex;
    div{
        width: 100%;
        margin: 10px;
    }
    h3{
        font-size: 2em;
        margin: 0;
        padding: 0;
    }
    P{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
    }
}
.smallPostImg{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.smallPostItem{
    max-width: 470px;
    background: rgb(136, 133, 133);
    min-height: 300px;
}
.smallPostMap{
    display:flex;
    flex-wrap: wrap;
}
.smallPostText{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0 10px;
}
.smallPostMap > *{
    flex: 1 1 380px;
    min-height: 350px;
    border: solid 1px rgb(197, 186, 175);
    border-radius: 5px;
    margin: 20px 8px;
}
.buttonPost{
    display: block;
    color: rgb(197, 186, 175);
    border-radius: 5px;
    margin: 10px 10px 10px auto;
}
.buttonPost:hover{
    background: rgb(197, 186, 175);
    color: grey;
}
.profilePostTitle{
    padding: 0 15px;
    font-size: 1.5em;
}

.profilePostImg{
    min-height: 200px;
    max-width: 100%;
}
.profilePostItem {
    min-height: 800px;
    max-width: 550px;
    background: rgb(54, 59, 70);
    margin: 0 auto auto auto;

    span{
    background-image: -webkit-linear-gradient(40deg, var(--pink), var(--neonBlue), var(--green));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 250%;
    animation: text-animation 5s infinite alternate;
  }
}
.profilePostBody{
    margin: 15px;
}
@media only screen and (max-width: 800px){
    .profilePostItem {
        margin: 10px 10px;
    }
}