.postItem{
    max-width: 460px;
    background-image: var(--backgroundimage);
    background-color: var(--lightmodecolour2);
}
.postWide{
    max-width: clamp(400px, 550px, 550px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.postCard{
    color: var(--lightmodetext);
    max-width: 450px;
    margin: 0 10px;
}
.postCardWide{
    color: var(--lightmodetext);
    max-width: 520px;
    margin: 0 auto;
}
.postTitle{
    font-size: 1.4em;
}
.postImg{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.postImgWide{
    min-height: 200px;
    width: min(100%, 550px);
}
.postMap{
    // display:flex;
    // flex-wrap: wrap;
    margin: 5px 5px;
    // gap: 10px 15px;
    // justify-content: left space-evenly;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    // justify-content: space-around;
    gap: 20px;
}
.postMap > *{
    // flex: 0 1 340px;
    // max-width: 340px;
    min-height: 400px;
    border: solid 1px var(--lightmodetext2);
    border-radius: 5px;
}
.profilePostMap{
    margin: 20px 0;
    // gap: 10px 15px;
    // justify-content: left space-evenly;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, 440px);
    -ms-grid-columns: repeat(auto-fit, 440px);
    justify-content: space-evenly;
    row-gap: 20px;
}
.postTitle{
    text-align: center;
    position: relative;
}

.smallPostImageContainer{
    display: flex;
    div{
        width: 100%;
        margin: 10px;
    }
    h3{
        font-size: 2em;
        margin: 0;
        padding: 0;
    }
}
.smallPostImg{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.smallPostItem{
    max-width: 470px;
    background-image: var(--backgroundimage);
    background-color: var(--lightmodecolour2);
    height: 400px;
    border: solid 0.5px var(--lightmodetext2);
    border-radius: 5px;
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
}
.smallPostMap{
    display:flex;
    flex-wrap: wrap;
}
.smallPostText{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
    -webkit-box-orient: vertical;
}
.smallPostMap > *{
    // flex: 1 1 380px;
    // min-height: 350px;
    // border: solid 1px var(--lightmodetext2);
    // border-radius: 5px;
    // margin: 20px 8px;
}
.buttonPost{
    display: block;
    color: rgb(197, 186, 175);
    border-radius: 5px;
    margin: 10px 10px 10px auto;
}
.buttonPost:hover{
    background: rgb(197, 186, 175);
    color: grey;
}
.profilePostTitle{
    padding: 0 15px;
    font-size: 1.5em;
}

.profilePostImg{
    height: 300px;
    max-width: 440px;
    object-fit: cover;
}
.profilePostItem {
    min-height: 800px;
    max-width: 550px;
    background: rgb(54, 59, 70);
    margin: 0 auto auto auto;

    span{
    background-image: -webkit-linear-gradient(40deg, var(--pink), var(--neonBlue), var(--green));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 250%;
    animation: text-animation 5s infinite alternate;
  }
}
.profilePostBody{
    margin: 15px;
}
@media only screen and (max-width: 800px){
    .profilePostItem {
        margin: 10px 10px;
    }
}