.postItem{
    max-width: 460px;
    background: rgb(235, 207, 178);
}

.postCard{
    color: var(--text);
    max-width: 450px;
}
.postTitle{
    font-size: 1.4em;
}
.postImg{
    min-height: 200px;
    width: 460px;
}
.postMap{
    display:flex;
    flex-wrap: wrap;
}
.postMap > *{
    flex: 1 1 400px;
    min-height: 450px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
    margin: 20px auto;
}

.smallPostItem{
    min-height: 500px;
}
.smallPostCard{
    max-width: 450px;
    max-height: 300px;
    margin: 10px;
}
.smallPostImg{
    min-height: 260px;
    width: 100%;
}
.postTitle{
    position: relative;
}