button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgb(158, 141, 129);
  cursor: pointer;
  margin: 30px 0 -20px 0;
}
button:hover{
  background: rgb(204, 180, 162);
}

.login h1,
.signup h1{
  margin-bottom: -10px;
  padding-bottom: 10px;
  border-bottom: solid white 1px;
  margin-right: 50px;
  margin-left: 50px;
  letter-spacing: 2px;
  font-size: 3em;
}
.forgotPassword h1{
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-size: 3em;
}

.login, .signup,
.forgotPassword{
  background:rgb(32,47,51);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.3);
  min-width: 400px;
  min-height: 100vh;
  color:white;
}

.login .loginContainer h1,
.signup .signupContainer h1,
.forgotPassword .forgotContainer h1{
  text-align: center;
}

.login .loginContainer,
.signup .signupContainer,
.forgotPassword .forgotContainer {
  padding: 60px;
  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(32,47,51) 0%,
    rgba(20, 56, 80, 0.9) 59%,
    rgb(32,47,51)
  );
  border-radius: 10px;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.6);
}

.loginContainer:hover,
.signupContainer:hover,
.forgotContainer:hover{
  border-bottom: solid white;
  border-width: 1px;
  transition: all 400ms ease-in-out;
}

.login .loginContainer label,
.signup .signupContainer label,
.forgotPassword .forgotContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input,
.signup .signupContainer input,
.forgotPassword .forgotContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px 0 10px 0 ;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}
input{
  padding: 100px;
}

.login .loginContainer .btnContainer
{
  width: 100%;
}

.login .bottomContainer,
.signup .bottomContainer,
.forgotPassword .bottomContainer {
  padding-top: 25px;
  text-align: right;
}
.login .loginContainer p {
  text-align: right;
  color: #fff;
}

.login .loginContainer span,
.signup .signupContainer span,
.forgotPassword .forgotContainer span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer span:hover,
.signup .signupContainer span:hover,
.forgotPassword .forgotContainer span:hover {
  color: red;
}

.login .loginContainer .errorMsg,
.signup .signupContainer .errorMsg,
.forgotPassword .forgotContainer .errorMsg
  {
  color: red;
  font-size: 16px;
}
