.dashboard{
    margin-top:0;
    height: 100vh;
    background-color: rgb(30, 28, 36);
}

.topbar{
    top:0;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgb(45, 45, 56);
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 8px;
}
.topbarContainer{
    display: flex;
    height: 50px;
}
.topbarContainer >*{
    margin-right: 10px;
}
.topbarContainer div:nth-last-child(2) {margin-left: auto;}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 50px;
    z-index: 1;
    background-color: rgb(45, 45, 56);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 8px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    left: 0;
    transition: all ease-in;
    transition-duration: 0.5s;
}
.topUser{
    align-self: center;
    color: rgb(231, 231, 231);
}
.profileIcon{
    display:block;
    margin: auto auto;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.sidebar:hover{
    width: 180px;
    .sidebarList p{
        opacity: 1;
        visibility:visible;
        transition-delay: .5s;
    }
}
.sidebarContainer{
    margin-top: 75px;
}
.sidebarContainer > *{
    margin-left: auto;
    right: 0;
}
.sidebarIcon{
    margin-bottom: 50px;
}
.dashboardContainer{
    background-color: rgb(30, 28, 36);
    height: 100vh;
}
.sidebarList{
    display: flex;
    flex-direction: column;
}
.sidebarList a{
    display:flex;
    height: 60px;
    transition: all 0s;
}
.sidebarList a:hover{color: white;}


.sidebarList p{
    opacity: 0;
    visibility: hidden;
}
@media only screen and (max-width: 490px) {
    .sidebar{display:none}
}
