.mainDashboard{
    min-height: 100vh;
    background: rgb(66, 75, 84)
}
.dashboardFlex{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.dashboardFlex > *:nth-child(1){
    flex: 1 1 20%;
    min-width: 300px;
}
.dashboardFlex > *:nth-child(2){
    flex: 1 1 80%;
    min-width: 400px;
}
.dashboardFriends, .dashboardUsers{
    margin: 20px 0 20px 0;
    max-width: 100%;
    min-height: 350px;
    background: rgb(197, 186, 175);
}
.dashboardUsers{
    height: 570px;
}
.dashboardFriends button{
    margin-left: 30px;
    height: 80px;
    width: 200px;
}
.dashboardFriends h1{
    color: white;
    padding-left: 30px;
    padding-top: 50px;
}
.dashboardPosts{

    h2{
        margin: 10px 20px 0 20px;
    }
}
.dashboardChat{
    margin: 20px 20px 0 20px;
    background: rgb(197, 186, 175);
    min-height: 400px;
}
.topTags{
    background: transparent;
    min-height: 400px;
}
@media only screen and (max-width: 1530px){
    .dashboardNarrow{
        display: flex;
        flex-direction: row;
    }
    .dashboardFriends, .dashboardUsers{
        flex-direction: row;
        margin: 0 auto;
        min-width: 500px;
        min-height: 200px;
    }
}