.dashboardChat{
    margin: 20px 20px 0 20px;
    min-height: 350px;
    background-image: var(--backgroundimage);
    background-color: var(--lightmodecolour2);
    border: solid 1px var(--lightmodetext2);
    border-radius: 5px;
}
.topTags{
    background: transparent;
    min-height: 400px;
}
.dashboardPosts{
    h2 {
        margin: 0px 20px 0 20px;
        padding: 10px 0 8px;
        position: relative;
        text-decoration: underline;
      }
}
// @media only screen and (max-width: 1530px){
//     .dashboardNarrow{
//         display: flex;
//         flex-direction: row;
//     }
//     .dashboardFriends, .dashboardUsers{
//         flex-direction: row;
//         margin: 0 auto;
//         min-width: 500px;
//         min-height: 200px;
//     }
// }