.mainDashboard{
    min-height:100vh;
    background: rgb(136, 133, 133);
    color: rgb(197, 186, 175);
}
.dashboardFlex{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.dashboardFlex > *:nth-child(1){
    flex: 1 1 20%;
    min-width: 300px;
    max-width: 400px;
}
.dashboardFlex > *:nth-child(2){
    flex: 1 1 70%;
    min-width: 400px;
}
.dashboardProjects{
    margin: 20px 0 20px 0;
    max-width: 100%;
    min-height: 750px;
    background: rgb(161, 157, 157);
    border: solid 1px rgb(197, 186, 175);
    border-radius: 5px;
}
.hubAddProjects{
    text-align: center;
}
.plusButton{
    border-radius: 50%;
    border: solid 1px rgb(197, 186, 175);
    background: inherit;
    color: inherit;
}
.plusButton:hover{
    background-color: rgb(197, 186, 175);
    color: rgb(161, 157, 157);
    cursor: pointer;
}
.dashboardProjectsContainer{
    border-bottom: solid 1px rgb(197, 186, 175);
    background: rgb(136, 133, 133);
    padding: 5px 30px;
    color: rgb(197, 186, 175);
    font-weight: 800;
}
.dashboardProjects h1{
    color: white;
    padding-left: 30px;
    padding-top: 50px;
}
.hubProjects{

}
.dashboardPosts{

    h2{
        margin: 10px 20px 0 20px;
    }
}
.topTags{
    background: transparent;
    min-height: 400px;
}
// @media only screen and (max-width: 1530px){
//     .dashboardNarrow{
//         display: flex;
//         flex-direction: row;
//     }
//     .dashboardFriends, .dashboardUsers{
//         flex-direction: row;
//         margin: 0 auto;
//         min-width: 500px;
//         min-height: 200px;
//     }
// }