.postForm{
    min-height: 100vh;
    background:  rgb(49, 47, 47);
}
.postFormContainer{
    max-width: 99%;
}
.formTitleContainer{
    color: white;
    text-align: center;
}
.postFormForm >* input, .postFormForm >* textarea{
  width: 98%;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 10px 0 10px 2% ;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}
#postContent textarea, #postReContent textarea{
    max-width: 98%;
    min-width: 98%;
}
.postFlexContainer{
    display: flex;
    flex-wrap: wrap;
}
.postFlexContainer > *:nth-child(1) {
    flex: 1 1 60%;
    min-width: 400px;
}
.postFlexContainer > *:nth-child(2) {
    flex: 1 1 40%;
    min-width: 350px;
}
.postFormForm >* textarea{
    min-height: 70px;
}
.postSubContainer label{
    color: rgb(235, 235, 235);
}
.postFormForm >* {
    padding: 15px 5%;
}
.postSubContainer{
    min-height: 700px;
    max-width: 800px;
    background-color: rgb(45, 45, 56);
    margin:auto;
    border-radius: 15px;
}
.cardIcon{
    max-width:150px;
    max-height:150px;
    margin-top: 50px;
}
.postSubmit, .postClear{
    display:block;
    width: auto;
    padding:10px;
    margin: 15px 5%15px auto;
}
.postClear{
    background-color:red;
}
.postSubContainer .errorMsg{
    color: green;
}
.yourPostContainer{
    max-width: 100%;
}
.postMap{
    display:flex;
    flex-wrap: wrap;
}
.postMap > *{
    flex: 1 1 400px;
    min-height: 450px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.postButtons{
    display: block;
    flex-direction: row;
    margin-top: auto;
    flex-wrap: wrap;
}
.updatePostButton, .deletePostButton{
    margin:0;
    margin-top: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
}

@media only screen and (max-width: 490px) {
    .postForm{margin-left: 0}

}