.profile{
    min-height: 100vh;
    background:  rgb(32,47,51);
}
.profileContainer{
    max-width: 85%;
    height: 700px;
    margin: auto;
    padding-top: 100px;
}
.profileItems{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
}
.profileItems >*{
    flex: 1 0 100px;
}
.profileImgContainer{
    max-width: 200px;
    margin-right: 20px;
}
.profileImg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.profileName{
    color: rgb(230, 230, 230);
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.profileName p {
    font-size: 20px;
    margin-top: -40px;
}
.profileName p:nth-last-child(1){
    font-size: 20px;
    font-weight: bolder;
    margin-top: -10px;
}
.editProfile{
    background-color: rgb(45, 45, 56);
    min-height: 35vh;
    max-width: 1000px;
    margin: 50px auto 0 auto;
    border-radius: 15px;
}
.editProfile >*{
    padding: 20px;
    display: flex;
    height: 70px;
}
.profileText p:nth-child(1){
    margin: 0;
    color: rgb(202, 202, 202);
    font-size: 1rem;
}
.profileText p:nth-child(2){
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.profileInfo button{
    height: auto;
    width: auto;
    margin: auto 0 auto auto;
    background-color: rgb(86, 86, 107);
    border-radius: 10px;
    padding: 15px 20px;
}
.profile hr{
    margin-top: 25px;
    max-width: 1000px;
    border-color: rgb(125, 125, 153);
}
.profileInfo input{
    padding: 0;
    border: none;
    outline: none;
    font-size: 19px;
    margin-top: 15px;
    max-width: 250px;
    height: 1.5em;
    color: red;
    background-color: rgb(63, 63, 78);
}
@media only screen and (max-width: 600px) {
    .profileItems{
        text-align: center;
    }
    .profileImgContainer{
        max-width: 200px;
        margin: auto;
    }
}
@media only screen and (max-width: 490px) {
    .profile{margin-left: 0}
    .profileText p:nth-child(2){font-size: 1.05rem;}
    .profileInfo input{max-width: 180px;}
}