.navbar {
  display:flex;
  justify-content: center;
  background: none;
  background: transparent;
  color: #fff;
  /*text-transform: uppercase;*/
  position: fixed;
  z-index: 2;
  min-width: 100%;
  min-height: 60px;
  transition: all .5s ease;
  background:linear-gradient(to bottom, rgb(14, 6, 31), rgba(38, 15, 56, 0.288));
  margin:0;
}
/* .navbar:hover{
  transition: all .5s ease;
  background:linear-gradient(to bottom, rgb(14, 6, 31), rgba(0, 0, 0, 0));
} */


.navbar ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  border-bottom: solid;
  border-width: 1px;
  margin: 0 min(20%) 0 min(20%);
}

.nav-item{
  padding: 0px 20px 0px 20px;
  letter-spacing: 2px;
  align-self: center;
}

#logout:hover{
  color:red;
}

.nav-link{
  text-decoration: none;
  color:white;
}

.navbar a:hover, .navbar a:active {
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 5px;
  /* letter-spacing: 5px; */
  /*font-weight: bold;*/
  transition: all 400ms ease-in-out;
  color:white;
}

#centerImg1{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    top: 10px;
    align-items: center;
    display: none;
}
@media only screen and (max-width: 800px){
  .navbar{
    padding-top: 20px;
  }
  .navbar ul{
    flex-direction: column;
    border-bottom: none;
    width: 100%;
    padding: 50px 0 0 0;
    border-bottom: 1px solid white;
    margin-left: 20%;
    margin-right:20%;
  }
  .nav-link{
    margin-left: auto;
    margin-right: auto;
  }
  .nav-item{
    width:100%;
    text-align: center;
    padding: 10px;
    display:none;
  }
  #centerImg1{
    width: 50px;
    display:flex;
  }
  #centerImg{
    display:none;
  }
  #loginButton{
    padding: 5px 10px;
    background-color: rgba(43, 0, 122, 0.377);
    border-radius: 100px;
    border-bottom: none;
  }
  #loginButton:hover{
    background-color: rgba(65, 6, 175, 0.61);
  }
  .nav-item.active {
    display:flex;
  }
  .navbar.active{
    background:linear-gradient(to bottom, rgb(14, 6, 31), rgba(38, 15, 56, 0.966));
  }
}