.mainNavbar{
    height: 10vh;
    width: 100%;
    display: block;
    background: none;
    background: transparent;
    color: black;
    z-index: 5;
}
.navContainer{
    display: flex;
    width: 90vw;
    margin: auto;
    padding-top: 10px;
}
.navbar_links{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav-items{
    margin: auto 0;
    padding: 10px;
    font-size: 1rem;
    color: rgb(199, 199, 199);
    cursor: pointer;
    text-decoration: none;
}
.nav-items:hover{
    color: black;
    border-bottom: solid 1px;
}
.nav-items:nth-child(3){
    margin-left:auto;
}
.nav-items:nth-child(5){
    margin-right:auto;
}
.svgIcon{
    display:block;
    margin: auto 10px auto 0;
    height: 50px;
    width: 50px;
}
.navActive{color: rgb(255, 255, 255);}
.navActive:hover{color: rgb(255, 255, 255);}

.loginLogout{
    // color: black;
}