.mainNavbar {
	height: 9rem;
	width: 100%;
	display: block;
	background: none;
	background: transparent;
	color: black;
	z-index: 5;
	h2 {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	a:active,
	h2:active {
		text-decoration: none;
	}
}
.navContainer {
	display: flex;
	max-width: 1800px;
	margin: auto;
	padding: 10px 50px;
}
.navbar_links {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.nav-items {
	margin: auto 0;
	padding: 10px;
	font-size: 1rem;
	color: rgb(199, 199, 199);
	cursor: pointer;
	text-decoration: none;
}
.nav-items:hover {
	color: #b4a198;
	border-bottom: solid 1px;
}
// .nav-items:nth-child(3){
//     margin-left:auto;
// }
// .nav-items:nth-child(5){
//     margin-right:auto;
// }
.dark {
	color: rgb(32, 47, 51);
}
.dark:hover {
	color: rgb(0, 117, 163);
}
.svgIcon {
	display: block;
	margin: auto 10px auto 0;
	height: 50px;
	width: 50px;
}
.navActive {
	color: rgb(180, 161, 152);
	border-bottom: 1px solid;
}
.navActive:hover {
	color: rgb(180, 161, 152);
}

.loginLogout {
	color: black;
}

@media only screen and(max-width: 1000px) {
	.loginLogout {
		color: rgb(199, 199, 199);
	}
	.nav-items:hover {
		color: rgb(180, 161, 152);
	}
}
@media only screen and (max-width: 800px) {
	.navbar {
		padding-top: 20px;
	}
	.navbar_links {
		flex-direction: column;
		border-bottom: none;
		width: 100%;
		padding: 50px 0 0 0;
		margin-left: 20%;
		margin-right: 20%;
	}
	.nav-items:hover {
		color: rgb(180, 161, 152);
		border-bottom: 0px;
	}
	.nav-items,
	.svgIcon,
	#title {
		width: 100%;
		text-align: center;
		padding: 10px;
		display: none;
	}
	#centerImg1 {
		cursor: pointer;
		width: 50px;
		display: flex;
	}
	#centerImg {
		display: none;
	}
	.nav-items.active {
		display: flex;
		z-index: 50;
		text-align: center;
		padding: 5px 10px;
		background: var(--darkgreen);
	}
	// .mainNavbar.active{

	// }
}
