.projectListItemSection{
    position: relative;
}
.projectListItemCard{
    position: relative;
    text-align: center;
    padding: 2px 5px;
    border-bottom: 1px solid var(--lightmodetext2);
    cursor: pointer;
}
.projectListItemCard:hover{
    background-color:rgba(0, 12, 3, 0.05);
}
.component-list-item-settings{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 4;
}