.projectListItemSection{
    position: relative;
}
.projectListItemCard{
    position: relative;
    text-align: center;
    padding: 2px 5px;
    border-bottom: 1px solid var(--lightmodetext2);
    cursor: pointer;
}
.projectListItemCard:hover{
    background-color:rgba(0, 12, 3, 0.05);
}
.component-list-item-settings{
    position: absolute;
    right: 5px;
    top: 5px;

}
.delete-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.delete-modal.show{
    display: flex;
}
.delete-modal-content{
    display: flex; align-items: center;
    flex-direction: column;
    background-image: var(--backgroundimage);
    background-color: var(--lightmodecolour);
    border-radius: 5px;
    max-height: 200px;
    margin:  100px auto;
    padding: 20px;
    border: 1px solid #888;
    width: min(300px, 90%);
    p{
        span{
            font-weight: bold;
        }
    }
}
.delete-button, .cancel-button{
    background: var(--darkgreen);
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    color: var(--lightmodecolour);
    margin: 0 10px;
    cursor: pointer;
}
.delete-button:hover, .cancel-button:hover{
    transform: scale(1.05);
}
.delete-button:hover{
    background: var(--red);
}
.delete-button-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}