html, body {
    margin: 0;
    font-family: Palatino, URW Palladio L, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--lightmodecolour);
    --darkmodecolour: rgb(30, 26, 31);
    --lightmodecolour: rgb(241, 241, 241);
  }






